/* Progress Off */

.slide.clear.active ~ .progress {
    display: none;
}

/* Number Off */

.slide.clear::before {
    visibility: hidden;
    display: none;
}

.slide.clear::after {
    visibility: hidden;
}
